.App {
  text-align: center;
  /* width: 70%; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 1.5rem;

  position: fixed;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    /* flex-direction: column; */
    gap: 1rem;
  }

  .search-bar form {
    flex-direction: column;
  }

  .App-header {
    flex-direction: column;
  }
}
