body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #212529;

}


*
{
  /* color: rgb(229, 9, 20); */
  color: #fa5252;
  font-size: 1.6rem;
  box-sizing: border-box;
}


button {
  background-color: #282c34;
  color: #fa5252;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}

html
{
  font-size: 62.5%;
}
