.movie-list-container {
  padding: 11rem 3.5rem;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  word-spacing: 0.5rem;
  /* color: rgb(229, 9, 20) */
  color: #fa5252;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.loading, .error {
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  color: #fff;
}

.error {
  color: #ff6b6b;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .movie-list {
    gap: 15px;
  }

  .section-title {
    font-size: 1.5rem;
  }
}
